<!DOCTYPE html>
<html ng-app="store">
<head>
	<link rel="stylesheet" type="text/css" href="js/bootstrap-3.3.4-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="js/bootstrap-3.3.4-dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<script type="text/javascript" src="js/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="StoreController as store">
	<p>{{"Show single store.product"}}</p>
	<div ng-hide="store.product.soldOut">
		<p>{{store.product.description}}</p>
		<product-title></product-title>
		<button ng-show="store.product.canPurchase">Add to cart</button>
	</div>

	<p>{{"Show multiple products in store.products"}}</p>
	<div ng-repeat="product in store.products" ng-hide="product.soldOut">
		<product-title></product-title>
		<p product-description></p>
		<button ng-show="product.canPurchase">Add to cart</button>
	</div>

	<section ng-controller="PanelController as panel">
		<ul class="nav nav-tabs nav-pills">
			<li ng-class="{active: panel.isSelected(1)}">
				<a href ng-click="panel.setTab(1)">Description</a>
			</li>
			<li ng-class="{active: panel.isSelected(2)}">
				<a href ng-click="panel.setTab(2)">Specifications</a>
			</li>
			<li ng-class="{active: panel.isSelected(3)}">
				<a href ng-click="panel.setTab(3)">Reviews</a>
			</li>
		</ul>
		<div class="panel" ng-show="panel.isSelected(1)">
			<h4>Description</h4>
			<p>{{store.product.description}}</p>
		</div>
		<div class="panel" ng-show="panel.isSelected(2)">
			<h4>Specifications</h4>
			<p>None yet</p>
		</div>
		<div class="panel" ng-show="panel.isSelected(3)">
			<h4>Reviews</h4>
			<blockquote ng-repeat="review in store.product.reviews">
				<p>Stars: {{review.stars}}</p>
				{{review.body}}
				<cite>by: {{review.author}}</cite>
			</blockquote>

			<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(store.product)" novalidate>
				<blockquote>
					<p>Stars: {{reviewCtrl.review.stars}}</p>
					{{reviewCtrl.review.body}}
					<cite>by: {{reviewCtrl.review.author}}</cite>
				</blockquote>
				<fieldset class="form-group">
				<select ng-model="reviewCtrl.review.stars" required>
					<option value="1">1 star</option>
					<option value="2">2 star</option>
					<option value="3">3 star</option>
					<option value="4">4 star</option>
					<option value="5">5 star</option>
				</select>
				</fieldset>
				<fieldset class="form-group">
				<textarea ng-model="reviewCtrl.review.body" required></textarea>
				</fieldset>
				<fieldset class="form-group">
				<label>by: </label>
				<input ng-model="reviewCtrl.review.author" type="email" required />
				</fieldset>

				<div>reviewForm is {{reviewForm.$valid}}</div>
				<input type="submit" value="Submit" />
			</form>
		</div>
	</section>


	{{tab}}

</body>
</html>