<!DOCTYPE html>
<html ng-app="store">
<head>
	<link rel="stylesheet" type="text/css" href="js/bootstrap-3.3.4-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="js/bootstrap-3.3.4-dist/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="js/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="StoreController as store">
	<p>{{"Show single store.product"}}</p>
	<div ng-hide="store.product.soldOut">
		<h1>{{store.product.name}}</h1>
		<h2>{{store.product.price | currency}}</h2>
		<p>{{store.product.description}}</p>
		<button ng-show="store.product.canPurchase">Add to cart</button>
	</div>

	<p>{{"Show multiple products in store.products"}}</p>
	<div ng-repeat="product in store.products" ng-hide="product.soldOut">
		<h1>{{product.name}}</h1>
		<h2>{{product.price | currency}}</h2>
		<p>{{product.description}}</p>
		<button ng-show="product.canPurchase">Add to cart</button>
	</div>

	<section ng-controller="PanelController as panel">
		<ul class="nav nav-tabs nav-pills">
			<li ng-class="{active: panel.isSelected(1)}">
				<a href ng-click="panel.setTab(1)">Description</a>
			</li>
			<li ng-class="{active: panel.isSelected(2)}">
				<a href ng-click="panel.setTab(2)">Specifications</a>
			</li>
			<li ng-class="{active: panel.isSelected(3)}">
				<a href ng-click="panel.setTab(3)">Reviews</a>
			</li>
		</ul>
		<div class="panel" ng-show="panel.isSelected(1)">
			<h4>Description</h4>
			<p>{{store.product.description}}</p>
		</div>
		<div class="panel" ng-show="panel.isSelected(2)">
			<h4>Specifications</h4>
			<p>None yet</p>
		</div>
		<div class="panel" ng-show="panel.isSelected(3)">
			<h4>Reviews</h4>
			<p>None yet</p>
		</div>
	</section>


	{{tab}}

</body>
</html>